<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantity</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stule1.css">
</head>

<body background ="eco.png">
    
    <h1>Plantity</h1>
    <form method="POST" action="Humpo.html" target="_blank" id="rocky">
        <br><br>
        <button class="btn btn-info">Humidity 5-35</button>
    </form>
    <form method="POST" action="Rumpo.html" target="_blank" id="pointy">
        <br><br>
        <button class="btn btn-info">Humidity 36-75</button>
    </form>
    <form  method="POST" action="umpo.html" target="_blank" id = "humpy">
        <br><br>
        <button class="btn btn-info">Humidity 76-100</button>
    </form>
    

    <!--Add code for creating the buttons and for taking the actions -->

</body>

</html>